@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 15% 30%;
    --card: 0 0% 100%;
    --card-foreground: 240 15% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 15% 30%;
    --primary: 260 70% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 20% 88%;
    --secondary-foreground: 240 15% 30%;
    --muted: 260 20% 88%;
    --muted-foreground: 240 10% 58%;
    --accent: 260 20% 88%;
    --accent-foreground: 240 15% 30%;
    --destructive: 340 75% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 260 20% 88%;
    --input: 260 20% 88%;
    --ring: 260 70% 55%;
    --chart-1: 260 70% 55%;
    --chart-2: 340 75% 55%;
    --chart-3: 260 20% 88%;
    --chart-4: 240 15% 30%;
    --chart-5: 240 10% 58%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 15% 30%;
    --sidebar-primary: 260 70% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 260 20% 88%;
    --sidebar-accent-foreground: 240 15% 30%;
    --sidebar-border: 260 20% 88%;
    --sidebar-ring: 260 70% 55%;
  }
  .dark {
    --background: 0 0% 100%;
    --foreground: 240 15% 30%;
    --card: 0 0% 100%;
    --card-foreground: 240 15% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 15% 30%;
    --primary: 260 70% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 20% 88%;
    --secondary-foreground: 240 15% 30%;
    --muted: 260 20% 88%;
    --muted-foreground: 240 10% 58%;
    --accent: 260 20% 88%;
    --accent-foreground: 240 15% 30%;
    --destructive: 340 75% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 260 20% 88%;
    --input: 260 20% 88%;
    --ring: 260 70% 55%;
    --chart-1: 260 70% 55%;
    --chart-2: 340 75% 55%;
    --chart-3: 260 20% 88%;
    --chart-4: 240 15% 30%;
    --chart-5: 240 10% 58%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 15% 30%;
    --sidebar-primary: 260 70% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 260 20% 88%;
    --sidebar-accent-foreground: 240 15% 30%;
    --sidebar-border: 260 20% 88%;
    --sidebar-ring: 260 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
